<section class="section-container">
  <!-- Main section -->
  <section class="carousel-section">

    <div class="carousel-container">

      <div class="carousel-main-image">
        <h2 class="carousel-section-message">{{$ctrl.section}}</h2>
        <!-- Main image -->
        <div class="carousel-preview-image" ng-style="{'background-image':'url(' + $ctrl.images[$ctrl.imgToPreview] + ')'}"></div>

        <!-- Arrows section -->
        <div class="carousel-actions-container">
          <a class="carousel-prev" ng-click="$ctrl.showPrevImage()" ng-class="{'fadeArrow' : $ctrl.leftDisabled }">❮</a>
          <a class="carousel-next" ng-click="$ctrl.showNextImage()" ng-class="{'fadeArrow' : $ctrl.rightDisabled }">❯</a>
        </div>
        <!-- Caption section  -->
        <div class="carousel-caption-container">
          <p class="carousel-caption-text">{{$ctrl.section}}</p>
          <div class="carousel-count">
            <span>{{$ctrl.imgToPreview + 1}}</span>
            <span>&nbsp;of&nbsp;</span>
            <span>{{$ctrl.images.length}}</span>
          </div>

          <!-- Clipboard copying section -->
          <div class="clipboard-container">
            <p ng-if="!$ctrl.copiedSuccessfully" ng-click="$ctrl.copyToClipboard()" class="clipboard-copy-button">Copy image link</p>
            <p ng-if="$ctrl.copiedSuccessfully" class="clipboard-success-message">Copying successful!</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom slider section -->
    <div class="carousel-bottomt-slider">
      <div ng-repeat="image in $ctrl.images track by $index" class="carousel-bottom-item-container" ng-class="{'chosen' : $index == $ctrl.imgToPreview }"
        ng-click="$ctrl.showChosenItem($index)">
        <div class="carousel-bottom-item" ng-style="{'background-image':'url({{image}})'}" ng-click="$ctrl.showImage(image)"></div>
      </div>
    </div>
  </section>
</section>