<section class="section-container">



  <!-- TODO: Clipboard copying here -->
  <section class="carousel-section">
    <div class="carousel-container">
      <div class="carousel-main-image">
        <div class="carousel-count">1 / 6</div>
        <div class="carousel-preview-image" ng-style="{'background-image':'url(' + $ctrl.images[$ctrl.imgToPreview] + ')'}"></div>


        <div class="carousel-actions-container">
          <a class="carousel-prev" ng-click="$ctrl.showPrevImage()">❮</a>
          <a class="carousel-next" ng-click="$ctrl.showNextImage()">❯</a>
        </div>

        <div class="carousel-caption-container">
          <p class="carousel-caption-text">hello</p>
        </div>

      </div>



    </div>


    <div class="carousel-bottomt-slider">
      <div ng-repeat="image in $ctrl.images track by $index" class="carousel-bottom-item-container" ng-class="{'chosen' : $index == $ctrl.imgToPreview }">
        <div class="carousel-bottom-item"  ng-style="{'background-image':'url({{image}})'}" ng-click="$ctrl.showImage(image)"></div>
      </div>
    </div>
  </section>



</section>
<!-- 
  <div>
    <ul>
      <li ng-repeat="x in $ctrl.sections track by $index">{{x}}</li>
    </ul>

    <div>
      <h2>Click button to add link to the clipboard</h2>
      <h2>Link was added to the clipboard</h2>
    </div>
    <div class="copy-to-clipboard-container">
      <input type="text" class="copy-to-clipboard-input">
      <button ng-click="$ctrl.copyToClipboard()" class="copy-to-clipboard-button">Copy</button>
    </div>
  </div>

</section> -->