.section-container {

}
.carousel-section {
  
}
.carousel-container {

}
.carousel-main-image {
  position: relative;
}
.carousel-count {
  position: absolute;
  font-size: 2rem;
}
.carousel-preview-image {
  width: 100%;
  /* height: 100rem; */
}
.carousel-prev {
  position: absolute;
  padding: 0;
  font-size: 10rem;
  display: block;
  top: 35%;
}
.carousel-next {
  position: absolute;
  top: 35%;
  right: 0;
  font-size: 10rem;
}
.carousel-caption-container {

}
.carousel-caption-text {

}
.carousel-bottomt-slider{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  
}
.carousel-bottom-item-container {
  width:20%;
}
.carousel-bottom-item {
  width:100%;
  height:auto;
}